////
/// Deprecated API.
/// @group Deprecated
/// @access private
////

@function th-property-font-size(
  $heading,
  $breakpoint: false,
  $convert: true,
  $base-font-size: $th-base-font-size
){
  @warn "th-property-font-size() will be removed in next major release. Use th-property() instead.";
  @return th-property(
    $heading: $heading,
    $property-name: font-size,
    $breakpoint: $breakpoint,
    $convert: $convert,
    $base-font-size: $base-font-size
  );
}

@function th-property-line-height(
  $heading,
  $breakpoint: false,
  $base-font-size: th-property-font-size($heading, $breakpoint, false),
  $convert: true
){
  @warn "th-property-line-height() will be removed in next major release. Use th-property() instead.";
  @return th-property(
    $heading: $heading,
    $property-name: line-height,
    $breakpoint: $breakpoint,
    $convert: $convert,
    $base-font-size: _th-property-base($heading, $breakpoint, $base-font-size)
  );
}

@function th-property-margin-top(
  $heading,
  $breakpoint: false,
  $base-font-size: th-property-font-size($heading, $breakpoint, false),
  $convert: true
){
  @warn "th-property-margin-top() will be removed in next major release. Use th-property() instead.";
  @return th-property(
    $heading: $heading,
    $property-name: margin-top,
    $breakpoint: $breakpoint,
    $convert: $convert,
    $base-font-size: _th-property-base($heading, $breakpoint, $base-font-size)
  );
}

@function th-property-margin-bottom(
  $heading,
  $breakpoint: false,
  $base-font-size: th-property-font-size($heading, $breakpoint, false),
  $convert: true
){
  @warn "th-property-margin-bottom() will be removed in next major release. Use th-property() instead.";
  @return th-property(
    $heading: $heading,
    $property-name: margin-bottom,
    $breakpoint: $breakpoint,
    $convert: $convert,
    $base-font-size: _th-property-base($heading, $breakpoint, $base-font-size)
  );
}

@mixin th-property-font-size(
  $heading,
  $breakpoint: false,
  $convert: true,
  $base-font-size: $th-base-font-size
){
  @warn "th-property-font-size() will be removed in next major release. Use th-property() instead.";
  @include th-property(
    $property-name: font-size,
    $heading: $heading,
    $breakpoint: $breakpoint,
    $convert: $convert,
    $base-font-size: $base-font-size
  );
}

@mixin th-property-line-height(
  $heading,
  $breakpoint: false,
  $convert: true,
  $base-font-size: $th-base-font-size
){
  @warn "th-property-line-height() will be removed in next major release. Use th-property() instead.";
  $base-font-size: _th-property-base($heading, $breakpoint, $base-font-size);
  @include th-property(
    $property-name: line-height,
    $heading: $heading,
    $breakpoint: $breakpoint,
    $convert: $convert,
    $base-font-size: $base-font-size
  );
}

@mixin th-property-margin-top(
  $heading,
  $breakpoint: false,
  $convert: true,
  $base-font-size: $th-base-font-size
){
  @warn "th-property-margin-top() will be removed in next major release. Use th-property() instead.";
  $base-font-size: _th-property-base($heading, $breakpoint, $base-font-size);
  @include th-property(
    $property-name: margin-top,
    $heading: $heading,
    $breakpoint: $breakpoint,
    $convert: $convert,
    $base-font-size: $base-font-size
  );
}

@mixin th-property-margin-bottom(
  $heading,
  $breakpoint: false,
  $convert: true,
  $base-font-size: $th-base-font-size
){
  @warn "th-property-margin-bottom() will be removed in next major release. Use th-property() instead.";
  $base-font-size: _th-property-base($heading, $breakpoint, $base-font-size);
  @include th-property(
    $property-name: margin-bottom,
    $heading: $heading,
    $breakpoint: $breakpoint,
    $convert: $convert,
    $base-font-size: $base-font-size
  );
}