////
/// Settings
/// @group Config
////

//  $th-base-font-size
/// Font size used for relative calculations.
///
/// @since 0.0.10
/// @type Number

$th-base-font-size: 16px !default;

//  $th-headings
/// Sets of headings.
///
/// @since 0.0.10
/// @type Map
///
/// @example scss - Defining a few sets of headings.
///   $th-headings: (
///     h1: (32px 38px 20px, 38px 42px 30px 768px),
///     h2: (24px 30px, 32px 36px default 768px),
///     h3: (18px 24px (10px 20px), 21px 26px 30px 768px)
///   );

$th-headings: () !default;

//  $th-property-defaults
/// Default property values for headings.
///
/// @since 0.0.10
/// @type Map
///
/// @prop {number} font-size [16px] - Default font size for headings
/// @prop {number} line-height [24px] - Default line height for headings
/// @prop {number} margin-top [20px] - Default margin top for headings
/// @prop {number} margin-bottom [20px] - Default margin bottom for headings

$th-property-defaults: (
  font-size: 16px,
  line-height: 24px,
  margin-top: 20px,
  margin-bottom: 20px
) !default;

//  $th-property-defaults
/// Units for heading properties.
///
/// @since 0.0.11
/// @type Map
///
/// @prop {boolean | string} font-size [false] - (px | em | rem | rel | percent) - Unit conversion for font sizes.
/// @prop {boolean | string} line-height [false] - (px | em | rem | rel | percent) - Unit conversion for line heights.
/// @prop {boolean | string} margin-top [false] - (px | em | rem | rel | percent) - Unit conversion for top margins.
/// @prop {boolean | string} margin-bottom [false] - (px | em | rem | rel | percent) - Unit conversion for bottom margins.
///
/// @example scss - Defining units for heading properties.
///   $th-property-units: (
///     font-size: percent,
///     line-height: rel,
///     margin-top: em,
///     margin-bottom: em
///   )

$th-property-units: (
  font-size: false,
  line-height: false,
  margin-top: false,
  margin-bottom: false
) !default;
