// Variables

// $th-headings
//
// Define heading maps, lists and property values.
// @type map
// @map-structure: $th-headings ( key: (properties, properties) )
// @list-structure (font-size line-height (margin-top margin-bottom) breakpoint)

$th-headings: (
  h1: (36px 42px, 42px 48px default 768px),
  h2: (24px 36px),
  h3: (18px 30px),
  h4: (16px),
  h5: (14px),
  h6: (12px)
  ) !default;

// $th-defaults
//
// Define default heading property values.
// @type map

$th-defaults: (
  font-size: 16px,
  line-height: 24px,
  margin-top: 20px,
  margin-bottom: 20px
  ) !default;