// Tests / Mixins / Breakpoint

// th-breakpoint-heading()
// ------------------------------

mixin th-breakpoint-heading {

  @include th-assert(
    $describe: "Output styles for a heading within a min-width breakpoint."
  ){
    @include th-assert-expect {
      @media screen and (min-width: 768px) {
        margin-top: 69px;
        margin-bottom: 1.40816rem;
        font-size: 2.72222em;
        line-height: 1.20408;
      }
    }
    @include th-assert-actual {
      @include th-breakpoint-heading(768px) {
        @include th-heading($heading: h2, $breakpoint: 768px);
      }
    }
  }

  @include th-assert(
    $describe: "Output styles for a heading within a max-width breakpoint."
  ){
    @include th-assert-expect {
      @media screen and (max-width: 768px) {
        margin-top: 69px;
        margin-bottom: 1.40816rem;
        font-size: 2.72222em;
        line-height: 1.20408;
      }
    }
    @include th-assert-actual {
      @include th-breakpoint-heading(768px, max-width) {
        @include th-heading($heading: h2, $breakpoint: 768px);
      }
    }
  }

}