// Tests / Mixins / Heading

// th-heading()
// ------------------------------

mixin th-heading {

  @include th-assert(
    $describe: "Output styles for a heading."
  ){
    @include th-assert-expect {
      margin-top: 30px;
      margin-bottom: 4rem;
      font-size: 0.55556em;
      line-height: 2;
    }
    @include th-assert-actual {
      @include th-heading(h1);
    }
  }

  @include th-assert(
    $describe: "Output styles for a heading with a breakpoint."
  ){
    @include th-assert-expect {
      margin-top: 70px;
      margin-bottom: 1.6rem;
      font-size: 2.77778em;
      line-height: 1.2;
    }
    @include th-assert-actual {
      @include th-heading(h1, 768px);
    }
  }

  @include th-assert(
    $describe: "Output styles for a heading with a default keyword."
  ){
    @include th-assert-expect {
      margin-top: 28px;
      margin-bottom: 12rem;
      font-size: 0.22222em;
      line-height: 0.5;
    }
    @include th-assert-actual {
      @include th-heading(h7);
    }
  }

  @include th-assert(
    $describe: "Output styles for a heading with only one value."
  ){
    @include th-assert-expect {
      margin-top: 3px;
      margin-bottom: 0.8rem;
      font-size: 0.27778em;
      line-height: 0.4;
    }
    @include th-assert-actual {
      @include th-heading(h6);
    }
  }

  @include th-assert(
    $describe: "Output styles for a heading with a singular list value."
  ){
    @include th-assert-expect {
      margin-top: 29px;
      margin-bottom: 3.22222rem;
      font-size: 0.5em;
      line-height: 2.11111;
    }
    @include th-assert-actual {
      @include th-heading(h2);
    }
  }

  @include th-assert(
    $describe: "Output styles for a heading without unit conversion."
  ){
    @include th-assert-expect {
      margin-top: 30px;
      margin-bottom: 40px;
      font-size: 10px;
      line-height: 20px;
    }
    @include th-assert-actual {
      @include th-heading(
        $heading: h1,
        $convert: false
      );
    }
  }

}

// th-headings()
// ------------------------------

mixin th-headings {

  @include th-assert(
    $describe: "Output styles for a heading."
  ){
    @include th-assert-expect {
      margin-top: 3px;
      margin-bottom: 0.8rem;
      font-size: 0.27778em;
      line-height: 0.4;
    }
    @include th-assert-actual {
      @include th-headings(h6);
    }
  }

  @include th-assert(
    $describe: "Output styles for a heading without unit conversion."
  ){
    @include th-assert-expect {
      margin-top: 29px;
      margin-bottom: 29px;
      font-size: 9px;
      line-height: 19px;
      @media screen and (min-width: 768px) {
        margin-top: 69px;
        margin-bottom: 69px;
        font-size: 49px;
        line-height: 59px;
      }
    }
    @include th-assert-actual {
      @include th-headings(
        $heading: h2,
        $convert: false
      );
    }
  }

  @include th-assert(
    $describe: "Output styles for a heading with multiple breakpoints."
  ){
    @include th-assert-expect {
      margin-top: 30px;
      margin-bottom: 4rem;
      font-size: 0.55556em;
      line-height: 2;
      @media screen and (min-width: 768px) {
        margin-top: 70px;
        margin-bottom: 1.6rem;
        font-size: 2.77778em;
        line-height: 1.2;
      }
      @media screen and (min-width: 1024px) {
        margin-top: 110px;
        margin-bottom: 1.33333rem;
        font-size: 5em;
        line-height: 1.11111;
      }
    }
    @include th-assert-actual {
      @include th-headings(h1);
    }
  }

  @include th-assert(
    $describe: "Output styles for a heading with a min-width breakpoint."
  ){
    @include th-assert-expect {
      margin-top: 30px;
      margin-bottom: 4rem;
      font-size: 0.55556em;
      line-height: 2;
      @media screen and (min-width: 768px) {
        margin-top: 70px;
        margin-bottom: 1.6rem;
        font-size: 2.77778em;
        line-height: 1.2;
      }
      @media screen and (min-width: 1024px) {
        margin-top: 110px;
        margin-bottom: 1.33333rem;
        font-size: 5em;
        line-height: 1.11111;
      }
    }
    @include th-assert-actual {
      @include th-headings(h1);
    }
  }

  @include th-assert(
    $describe: "Output styles for a heading with a max-width breakpoint."
  ){
    @include th-assert-expect {
      margin-top: 30px;
      margin-bottom: 4rem;
      font-size: 0.55556em;
      line-height: 2;
      @media screen and (max-width: 768px) {
        margin-top: 70px;
        margin-bottom: 1.6rem;
        font-size: 2.77778em;
        line-height: 1.2;
      }
      @media screen and (max-width: 1024px) {
        margin-top: 110px;
        margin-bottom: 1.33333rem;
        font-size: 5em;
        line-height: 1.11111;
      }
    }
    @include th-assert-actual {
      @include th-headings(h1, max-width);
    }
  }

}