// Partials - Base

// Global
// ------------------------------

@include establish-baseline;

html {
  @include breakpoint(max-width $breakpoint-large-below) {
    font-size: 100%;
  }
}

body {
  color: $color-grey-dark;
  font-family: $type-font-family-body;
  background-color: #fff;
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
}

// Typography
// ------------------------------

h1,
h2,
h3,
h4,
h5,
h6,
p,
address,
blockquote,
hr {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include type-heading-base;
}

h1 {
  $font-size: 38px;
  margin-top: em($base-vertical-margin, $font-size);
  margin-bottom: em($base-vertical-margin, $font-size);
  font-size: em($font-size);
  line-height: em($base-line-height * 1.5, $font-size);
}

h2 {
  $font-size: 28px;
  margin-top: em($base-vertical-margin, $font-size);
  margin-bottom: em($base-vertical-margin, $font-size);
  font-size: em($font-size);
  line-height: em($base-line-height * 1.25, $font-size);
}

h3 {
  $font-size: 21px;
  margin-top: em($base-vertical-margin, $font-size);
  margin-bottom: em($base-vertical-margin, $font-size);
  font-size: em($font-size);
  line-height: em($base-line-height, $font-size);
}

h4 {
  $font-size: 18px;
  margin-top: em($base-vertical-margin, $font-size);
  margin-bottom: em($base-vertical-margin, $font-size);
  font-size: em($font-size);
  line-height: em($base-line-height, $font-size);
}

h5 {
  $font-size: 16px;
  margin-top: em($base-vertical-margin, $font-size);
  margin-bottom: em($base-vertical-margin, $font-size);
  font-size: em($font-size);
  line-height: em($base-line-height, $font-size);
}

h6 {
  $font-size: 14px;
  margin-top: em($base-vertical-margin, $font-size);
  margin-bottom: em($base-vertical-margin, $font-size);
  font-size: em($font-size);
  line-height: em($base-line-height, $font-size);
}

p {
  margin-bottom: em($base-vertical-margin);
}

address {
  margin-bottom: em($base-vertical-margin);
  font-style: normal;
}

blockquote {
  margin-bottom: em($base-vertical-margin);
  padding-left: em($base-line-height);

  p:last-child {
    margin-bottom: 0;
  }

  cite {
    display: block;
  }
}

cite {
  font-style: italic;
}

hr {
  margin-top: em($base-vertical-margin);
  margin-bottom: em($base-vertical-margin);
  height: 1px;
  background: $color-grey-light;
  border: none;
  @include breakpoint($breakpoint-large) {
    margin-top: em($base-vertical-margin * 2);
    margin-bottom: em($base-vertical-margin * 2);
  }
}

a {
  color: $type-anchor-font-color;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $type-anchor-hover-font-color;
  }
}

// Lists
// ------------------------------

ul,
ol,
li,
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}

ul,
ol,
dl {
  margin-bottom: em($base-vertical-margin);
}

ul,
ol {
  padding-left: 2em;

  ul,
  ol {
    margin-bottom: 0;
  }
}

ul {}

ol {}

dl {

  dt {
    font-weight: bold;
  }

  dd {
    margin-bottom: em($base-vertical-margin / 2);
  }
}

// Tables
// ------------------------------

table,
caption,
thead,
tbody,
tfoot,
tr,
td,
th {
  margin: 0;
  padding: 0;
}

table {
  $font-size: 16px;
  width: 100%;
  margin-bottom: em($base-vertical-margin);
  background-color: white;
  border: none;

  table {
    margin-bottom: 0;
  }

  caption {
    margin-bottom: em($base-vertical-margin);
    color: $color-grey-light;
    text-align: left;
  }

  td,
  th {
    padding: em($base-vertical-margin / 2, $font-size);
    font-size: em($font-size);
    text-align: left;
    background-color: white;
    vertical-align: top;
  }

  td {}

  th {
    color: white;
    font-weight: 400;
    background: $color-brand-primary;
    border: 1px solid $color-brand-primary;
  }

  tr {}

  thead {}

  tbody {

    td {
      background: $color-grey-white;
      border: 1px solid $color-grey-light;
    }
  }

  tfoot {}
}

// Media
// ------------------------------

img,
iframe,
figure,
figcaption {
  margin: 0;
  padding: 0;
}

img {}

iframe {}

figure {
  margin-bottom: em($base-vertical-margin);

  img {}

  figcaption {
    margin-top: em($base-vertical-margin / 2);
    color: $color-grey-light;
  }
}

// Code
// ------------------------------

code,
pre {
  margin: 0;
  padding: 0;
}

code,
pre {
  font-family: $type-font-family-mono;
  tab-size: 4;
}

code {
  display: inline-block;
  padding: 0 em(8px);
  color: $color-brand-primary;
  font-size: 80%;
  background-color: $color-grey-white;
}

pre {
  $font-size: 14px;
  display: block;
  margin-left: 6px;
  margin-bottom: em($base-vertical-margin, $font-size);
  padding: em($base-vertical-margin, $font-size);
  font-size: em($font-size);
  line-height: em(24px, $font-size);
  background: $color-grey-white;
  border-top: 1px solid $color-grey-light;
  border-right: 1px solid $color-grey-light;
  border-bottom: 1px solid $color-grey-light;
  @include box-shadow(-6px 0 0 0 $color-brand-primary);

  code {
    width: 100%;
    display: block;
    padding: 0;
    color: inherit;
    font-size: inherit;
    line-height: inherit;
    background: none;
  }
}

// Forms
// ------------------------------

form,
label,
fieldset,
legend,
input,
select,
textarea,
button {
  margin: 0;
  padding: 0;
}

form {
  display: block;
  margin-bottom: em($base-vertical-margin);
}

label {
  display: block;
  margin-bottom: em($base-vertical-margin);
  font-weight: 700;
}

fieldset {
  margin-bottom: em($base-vertical-margin);
  padding: 0;
  border: none;

  legend {
    width: 100%;
    display: block;
    margin-bottom: em($base-vertical-margin);
  }
}

#{$select-form-text-inputs},
select,
textarea {
  display: block;
  width: 100%;
  margin-bottom: em($base-vertical-margin);
  padding: em($base-vertical-margin / 2) 1em;
  color: $color-grey-dark;
  line-height: em($base-line-height);
  background: white;
  border: 1px solid $color-grey-light;
  @include box-sizing(border-box);
  @include input-placeholder {
    color: $color-grey-slate;
  }
}

#{$select-form-text-inputs},
select {
  height: em($base-line-height + (($base-vertical-margin / 2 ) * 2) + 2px); // Line height + borders + vertical padding
}

#{$select-form-text-inputs} {}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 0px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+);
  background-position: right center;
  background-repeat: no-repeat;

  html.lt-ie10 & {
    background-image: none;
  }

  // Remove select arrow for IE10+
  &::-ms-expand {
    display: none;
  }
}

// Remove background image for firefox
@-moz-document url-prefix() {
  select {
    background-image: none;
  }
}

textarea {
  height: auto;
  max-width: 100%;
  resize: vertical;
}

input[type="radio"],
input[type="checkbox"] {
  margin-bottom: em(4px);
  margin-right: em(4px);
}

input[type="radio"] {}

input[type="checkbox"] {}

input[type="reset"],
input[type="submit"],
button {
  padding: em($base-vertical-margin / 2 10px);
}