// Main

@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600|Source+Code+Pro:400,600");

// Dependencies
// ------------------------------

@import "compass";
@import "breakpoint";
@import "susy";
@import "toolkit";

// Abstractions
// ------------------------------

@import "abstractions/variables";
@import "abstractions/functions";
@import "abstractions/mixins";
@import "abstractions/placeholders";

// Partials
// ------------------------------

@import "reset";
@import "layout";
@import "base";

// Regions: Header
// ------------------------------

.site-header {
  color: $color-grey-slate;
  background: darken($color-brand-primary, 35%);
  margin-bottom: em($base-vertical-margin);
  padding-top: em($base-vertical-margin);
  padding-bottom: em($base-vertical-margin);
  @include breakpoint($breakpoint-large) {
    margin-bottom: 0;
    padding-top: em($base-vertical-margin * 2);
    height: 100%;
  }

  .site-header-inner {
    position: relative;
  }

  a {
    color: white;
    @include breakpoint($breakpoint-large) {
      color: $color-grey-slate;
    }

    &:hover,
    &:focus {
      @include breakpoint($breakpoint-large) {
        color: white;
      }
    }
  }

  .branding {
    margin: 0;

    span {
      font-size: 10px;
      line-height: 1;
    }

    .branding-title {
      @include breakpoint(max-width $breakpoint-large-below) {
        margin: 0;
      }
    }

    .branding-title a {
      @include breakpoint($breakpoint-large) {
        @include type-heading-base;
        color: white;
      }

      &:hover,
      &:focus {
        @include breakpoint($breakpoint-large) {
          color: $color-grey-slate;
        }
      }
    }

    .branding-description {
      $font-size: 16px;
      display: none;
      margin: 0;
      @include breakpoint($breakpoint-large) {
        display: block;
      }
      @include breakpoint($breakpoint-large) {
        font-size: em($font-size);
        line-height: em($base-line-height, $font-size);
      }
    }
  }

  .menu {

    a {
      $font-size: 16px;
      @include breakpoint($breakpoint-large) {
        display: block;
        font-size: em($font-size);
        line-height: em($base-line-height, $font-size);
      }
    }

    ul {
      padding: em($base-vertical-margin) 0;
      border-bottom: 1px solid rgba(white, .1);
    }

    li {
      list-style: none;
      @include breakpoint($breakpoint-large) {
        display: block;
      }
    }
  }

  .site-github-link {
    $font-size: 16px;
    margin: 0;
    @include breakpoint($breakpoint-large) {
      font-size: em($font-size, 16px);
      line-height: em($base-line-height, $font-size);
    }

    a {
      @include breakpoint($breakpoint-large) {
        display: block;
        vertical-align: middle;
      }
    }

    a:before {
      content: "";
      display: inline-block;
      position: relative;
      top: -2px;
      height: 33px;
      width: 33px;
      margin-right: 15px;
      background: image-url('icons/github-white.icon.svg') no-repeat center center;
      vertical-align: middle;
    }
  }

  .responsive-menu-toggle {
    @include hide-text;
    position: absolute;
    top: 0;
    right: 0;
    height: 20px;
    width: 30px;
    margin: 0;
    padding: 0;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSIzOS4yMzhweCIgaGVpZ2h0PSIzMHB4IiB2aWV3Qm94PSIwIDAgMzkuMjM4IDMwIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAzOS4yMzggMzAiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwYXRoIGlkPSJtZW51LWljb24iIGZpbGw9IiNGRkZGRkYiIGQ9Ik0zOS4yMzgsNi4xOUgwVjBoMzkuMjM4VjYuMTl6IE0zOS4yMzgsMTEuOTA0SDB2Ni4xOWgzOS4yMzhWMTEuOTA0eiBNMzkuMjM4LDIzLjgxSDBWMzBoMzkuMjM4VjIzLjgxeiIvPjwvc3ZnPg==);
    border: none;
    @include background-size(contain);
  }
}

// Regions: Main
// ------------------------------

.site-main .site-main-inner {
  @include susy-breakpoint($breakpoint-large, $susy-medium){
    margin-top: em($base-vertical-margin * 2);
    margin-bottom: em($base-vertical-margin * 2);
  }
}

// Regions: Footer
// ------------------------------

.site-footer {
  padding-top: em($base-vertical-margin);
  padding-bottom: em($base-vertical-margin);
  color: $color-grey-slate;
  background: $color-grey-white;
  @include breakpoint($breakpoint-large) {
    padding-top: em($base-vertical-margin * 2);
    padding-bottom: em($base-vertical-margin * 2);
  }

  p,
  ul {
    margin-bottom: 0;
    @include breakpoint($breakpoint-large){
      $font-size: 16px;
      font-size: em($font-size);
      line-height: em($base-line-height, $font-size);
    }
  }

  .branding {
    margin-bottom: em($base-vertical-margin / 2);
    @include breakpoint($breakpoint-large){
      margin-bottom: em($base-vertical-margin / 4);
    }

    .branding-title {
      font-weight: 600;
    }
  }

  .menu {
    @include breakpoint($breakpoint-large) {
      margin-bottom: em($base-vertical-margin / 4);
    }
    
    ul {
      margin: 0;
      padding: 0;
    }

    li {
      list-style: none;
      @include breakpoint($breakpoint-large){
        display: inline-block;
        margin-right: 1em;
      }
    }
  }

  .site-github-link {
    margin-bottom: em($base-vertical-margin / 2);
    @include breakpoint($breakpoint-large){
      float: right;
      margin: 0;
    }
  }
}

// Branding
// ------------------------------

.branding {

  .branding-title {
    @include breakpoint($breakpoint-large) {
      margin-bottom: em($base-vertical-margin / 4);
    }
  }
}

// Highlight Groups
// ------------------------------

.highlight-group-active {

  pre {
    margin-left: 0;
    border-top: none;
    border-left: 1px solid $color-grey-light;
    @include box-shadow(none);
  }
}

ul.highlight-group-nav {
  margin: 0;
  padding: 0;
  background: $color-brand-primary;
  @include pie-clearfix;

  button {
    display: block;
    width: 100%;
    margin: 0;
    padding: em($base-vertical-margin / 2 $base-vertical-margin);
    color: white;
    text-align: left;
    text-transform: uppercase;
    background: none;
    border: none;

    &:focus {
      outline: none;
    }
  }

  li {
    display: block;
    @include breakpoint($breakpoint-large) {
      float: left;
    }
  }

  li.highlight-group-nav-item-open button,
  li button:hover,
  li button:focus {
    background: darken($color-brand-primary, 20%);
    outline: none;
  }
}

// Pygments
// ------------------------------

.highlight {
  margin-bottom: em($base-vertical-margin);

  pre {
    margin-bottom: 0;
  }
}

// Comment
.highlight .c,
.highlight .c1 { 
  color: #b0b0b0
}

// Reponsive Tables
// ------------------------------

.table-responsive {
  display: block;
  margin-bottom: em($base-vertical-margin);
  overflow: auto;

  table {
    margin: 0;
  }

  th,
  td {
    white-space: nowrap;
  }
}

// Entry
// ------------------------------

.entry {

  .entry-header {
    margin-bottom: em($base-vertical-margin);
    @include breakpoint($breakpoint-large) {
      margin-bottom: em($base-vertical-margin * 2);
      padding-bottom: em($base-vertical-margin);
      border-bottom: 1px solid $color-grey-light;
    }
  }

  .entry-title {
    margin: 0;
    color: $color-brand-primary;
  }
}

// Doc
// ------------------------------

.doc {
  margin: em($base-vertical-margin) 0;
  padding-top: em($base-vertical-margin);
  border-top: 1px solid $color-grey-light;
  @include breakpoint($breakpoint-large) {
    margin: em($base-vertical-margin * 2) 0;
    padding-top: em($base-vertical-margin * 2);
  }

  .doc-header {
    margin-bottom: em($base-vertical-margin);

    h1,
    h2,
    h3,
    h4,
    h5,
    h6, {
      margin: 0;
    }
  }

  .doc-title span {
    display: none;
  }

  .doc-section {
    margin-bottom: em($base-vertical-margin);

    &:last-child {
      margin-bottom: 0;
    }
  }

  .doc-section-content > :last-child {
    margin-bottom: 0;
  }

  table.doc-parameters p {
    margin: 0;
  }
}

// TOC
// ------------------------------

.toc {
  margin-bottom: em($base-vertical-margin);
  padding-bottom: em($base-vertical-margin);
  border-bottom: 1px solid $color-grey-light;
  @include breakpoint($breakpoint-large) {
    margin-bottom: em($base-vertical-margin * 2);
    padding-bottom: em($base-vertical-margin * 2);
  }
  
  > ul {
    $font-size: 16px;
    margin: 0;
    padding: 0;
    @include breakpoint($breakpoint-large) {
      font-size: em($font-size);
      line-height: em($base-line-height, $font-size);
    }
  }

  > ul > li {
    list-style: none;
  }
}

// Change Log
// ------------------------------

.change-log {
  margin-top: em($base-vertical-margin);
  margin-bottom: em($base-vertical-margin);
  padding-bottom: em($base-vertical-margin);
  border-bottom: 1px solid $color-grey-light;
  @include breakpoint($breakpoint-large) {
    margin-top: em($base-vertical-margin * 2);
    margin-bottom: em($base-vertical-margin * 2);
    padding-bottom: em($base-vertical-margin * 2);
  }

  .change-log-version {
    margin-top: 0;
  }

  .change-log-date {
    color: $color-grey-slate;
  }

  .change-log-content > :last-child {
    margin-bottom: 0;
  }
}