@include test-module('th-breakpoint') {

  @include test('[th-breakpoint] Output a heading with a 768px breakpoint within a 768px min-width media query.') {
    @include assert {
      @include output {
        @include th-breakpoint(768px, 768px) {
          @include th-heading($heading: h2);
        }
      }

      @include expect {
        @media (min-width: 768px) {
          font-size: 2.72222em;
          line-height: 1.20408;
          margin-top: 69px;
          margin-bottom: 3.83333rem;
        }
      }
    }
  }

  @include test('[th-breakpoint] Output styles for a heading with a 768px breakpoint within a 768px max-width media query.') {
    @include assert {
      @include output {
        @include th-breakpoint(max-width 768px, 768px) {
          @include th-heading(h2);
        }
      }

      @include expect {
        @media (max-width: 768px) {
          font-size: 2.72222em;
          line-height: 1.20408;
          margin-top: 69px;
          margin-bottom: 3.83333rem;
        }
      }
    }
  }

  @include test('[th-breakpoint] Output styles for a heading with a 768px breakpoint within a range media query range from 768px to 1023px.') {
    @include assert {
      @include output {
        @include th-breakpoint(768px 1023px, 768px) {
          @include th-heading(h2);
        }
      }

      @include expect {
        @media (min-width: 768px) and (max-width: 1023px) {
          font-size: 2.72222em;
          line-height: 1.20408;
          margin-top: 69px;
          margin-bottom: 3.83333rem;
        }
      }
    }
  }

}

@include test-module('th-breakpoint-context') {

  @include test('[th-breakpoint-context] Output a heading with a 768px breakpoint context.') {
    @include assert {
      @include output {
        @include th-breakpoint-context(1024px) {
          $breakpoint: th-core-context-get(breakpoint);
          @include th-heading($heading: h1, $breakpoint: $breakpoint);
        }
      }

      @include expect {
        font-size: 5em;
        line-height: 1.11111;
        margin-top: 110px;
        margin-bottom: 6.66667rem;
      }
    }
  }

}
