// Type Heading

// Imports
// ------------------------------

@import "type-heading/settings";
@import "type-heading/functions/helpers";
@import "type-heading/functions/heading";
@import "type-heading/functions/property";
@import "type-heading/mixins/breakpoint";
@import "type-heading/mixins/property";
@import "type-heading/mixins/heading";