// Examples

// Assertion example: function
assert-function {
	@include th-assert(
		$describe: "assert function"
	){
		@include th-assert-expect {
			property: 11px
		}
		@include th-assert-actual {
			property: foo($bar)
		}
	}
}

// Assertion example: mixin
assert-mixin {
	@include th-assert(
		$describe: "assert mixin"
	){
		@include th-assert-expect {
			property: value;
		}
		@include th-assert-actual {
			@include foo(bar);
		}
	}
}