@import "type-heading";

@function th-test($a, $b){
  @if $a != $b {
    @return Failed, $a, $b;
  } @else {
    @return Passed;
  }
}

$th-headings: (
  h1: (36px 42px, 42px 48px (30px 35px) 768px),
  h2: (24px 36px, 32px 38px (25px default) 768px),
  h3: (18px default 30px, default default (default 30px) 768px),
  h4: (16px, 24px 32px 50px 768px),
  h5: (14px),
  h6: (12px)
  );

$th-defaults: (
  font-size: 16px,
  line-height: 24px,
  margin-top: 24px,
  margin-bottom: 20px
  );

@debug th-test( th-property-default(font-size), 16px );
@debug th-test( th-property-default(line-height), 24px );
@debug th-test( th-property-default(margin-top), 24px );
@debug th-test( th-property-default(margin-bottom), 20px );

@debug th-test( th-property-font-size(h1), 36px );
@debug th-test( th-property-line-height(h1), 42px );
@debug th-test( th-property-margin-top(h1), 24px );
@debug th-test( th-property-margin-bottom(h1), 20px );

@debug th-test( th-property-font-size(h1, 768px), 42px );
@debug th-test( th-property-line-height(h1, 768px), 48px );
@debug th-test( th-property-margin-top(h1, 768px), 30px );
@debug th-test( th-property-margin-bottom(h1, 768px), 35px );

@debug th-test( th-property-font-size(h2), 24px );
@debug th-test( th-property-line-height(h2), 36px );
@debug th-test( th-property-margin-top(h2), 24px );
@debug th-test( th-property-margin-bottom(h2), 20px );

@debug th-test( th-property-font-size(h2, 768px), 32px );
@debug th-test( th-property-line-height(h2, 768px), 38px );
@debug th-test( th-property-margin-top(h2, 768px), 25px );
@debug th-test( th-property-margin-bottom(h2, 768px), 20px );

@debug th-test( th-property-font-size(h3), 18px );
@debug th-test( th-property-line-height(h3), 24px );
@debug th-test( th-property-margin-top(h3), 30px );
@debug th-test( th-property-margin-bottom(h3), 30px );

@debug th-test( th-property-font-size(h3, 768px), 16px );
@debug th-test( th-property-line-height(h3, 768px), 24px );
@debug th-test( th-property-margin-top(h3, 768px), 24px );
@debug th-test( th-property-margin-bottom(h3, 768px), 30px );

@debug th-test( th-property-font-size(h4), 16px );
@debug th-test( th-property-line-height(h4), 24px );
@debug th-test( th-property-margin-top(h4), 24px );
@debug th-test( th-property-margin-bottom(h4), 20px );

@debug th-test( th-property-font-size(h4, 768px), 24px );
@debug th-test( th-property-line-height(h4, 768px), 32px );
@debug th-test( th-property-margin-top(h4, 768px), 50px );
@debug th-test( th-property-margin-bottom(h4, 768px), 50px );

@debug th-test( th-property(h5, font-size), 14px );
@debug th-test( th-property(h5, line-height), 24px );
@debug th-test( th-property(h5, margin-top), 24px );
@debug th-test( th-property(h5, margin-bottom), 20px );

@debug th-test( th-property-font-size(h6), 12px );
@debug th-test( th-property-line-height(h6), 24px );
@debug th-test( th-property-margin-top(h6), 24px );
@debug th-test( th-property-margin-bottom(h6), 20px );

.default {
  @include th-property-default(font-size);
  @include th-property-default(line-height);
  @include th-property-default(margin-top);
  @include th-property-default(margin-bottom);
}

h1 { @include th-headings(h1); }
h2 { @include th-headings(h2); }
h3 { @include th-headings(h3); }
h4 { @include th-headings(h4); }
h5 { @include th-headings(h5); }
h6 { @include th-headings(h6); }

h1 { @include th-heading(h1, 768px); }
h2 { @include th-heading(h2, 768px); }
h3 { @include th-heading(h3); }
h4 { @include th-heading(h4); }
h5 { @include th-heading(h5); }
h6 { @include th-heading(h6); }