// Mixins / Heading

// @mixin th-heading
//
// Output styles for a heading list.
// @param $heading: mixed | A heading map key or list (required). | $th-headings
// @param $breakpoint: number | A heading list breakpoint (optional). | $th-headings

@mixin th-heading(
  $heading,
  $breakpoint: false
){
  $heading: th-heading-get($heading, $breakpoint);
  @include th-property-margin-top($heading, $breakpoint);
  @include th-property-margin-bottom($heading, $breakpoint);
  @include th-property-font-size($heading, $breakpoint);
  @include th-property-line-height($heading, $breakpoint);
}

// @mixin th-headings
//
// Output styles for all heading lists in a heading map.
// @param $heading: string | A heading map key. | $th-headings

@mixin th-headings(
  $heading
){
  $heading-map: th-heading-get-map($heading);
  @if _th-heading-has-next($heading-map) {
    @each $heading in $heading-map {
      $breakpoint: th-property($heading, breakpoint);
      @if $breakpoint {
        @include th-breakpoint-heading($heading, $breakpoint);
      } @else {
        @include th-heading($heading);
      }
    }
  } @else {
    @include th-heading($heading)
  }
}